<%= render "/custom/form.html.erb"%>
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="margin-top: 150px;">Rails Way</h1>
                    
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Rails Way</h2>
            <p>RailsWay is a free Tutorials and Solution Provider created by Oxagile Technologies. It can be yours right platform to learn basics or advanced of rails, simply download the Mobile app <a href="http://startbootstrap.com/template-overviews/grayscale/">Download App</a>. The RailsWay community is open for everyone who are eager to learn Ruby on Rails.</p>
            <p>We are providing Best Tutorials and Solutions. All tutorials written by highly qualified Rails Authors. We will be thankful if anyone wants to be an RailsWay Author by getting registered <a href="http://gratisography.com/">Get Started</a>.</p>
            <p>RailsWay also provides tutorials and solutions for other languages and tools, eg. full HTML, CSS, and custom JavaScript and a lot more.</p>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Download App</h2>
                <p>You can download RailsWay free for Android.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Download App</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact RailsWay</h2>
            <p>Feel free to email us to provide some feedback, give us suggestions for new features and ideas, or to just say hello!</p>
            <p><a href="mailto:feedback@oxagile.in">feedback@oxagile.in</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/RailsWay" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/oxagile.in" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/RailsWay" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; RailsWay 2016</p>
    </div>
</footer>