
<div class="container" style="padding-top:126px;">
  <div id="products" class="row list-group">
    <% if !@users.blank? %>
      <% @users.each do |user| %>
        <div class="item  col-xs-4 col-lg-4">
          <div class="thumbnail">
              <img class="group list-group-image" src="https://scontent-ams3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13707232_1742141412716846_1488202823_n.jpg" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    <%= link_to user.name , profile_path(user.username) %></h4>
                <p class="group inner list-group-item-text">
                    Achievments by user...</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                          Followers:  </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      <%end%>  
    <% else %>
      <%= render 'page_not_found'%>
    <% end %>  
  </div>
</div>


<footer>
    <div class="container text-center">
        <p>Copyright &copy; RailsWay 2016</p>
    </div>
</footer>
            
<style type="text/css">
 .glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.img {
  width: 400px;
  height: 250px;
}
</style>


