<%= render "/custom/form.html.erb"%>
<!-- Main-content -->
<div class="main-content">
  <div class="row">
    <div class="col-lg-8">
     <div class="col-md-6 col-md-8">
       <!-- Blog Search Well -->
        <div class="well">
            <h4>Search Tutorials</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
             </div>
             <!-- /.input-group -->
          </div>
      </div>
    </div>
  </div>
              
  <div class="tutorials" style="padding-left: 113px;">
      <%  @tutorials.each do |tutorails|%>
          <h3 class="post-title">
              <%= link_to tutorails.title , tutorial_path(tutorails)%>
          </h3>
          <h4 class="post-subtitle">
              <%= tutorails.description%><br>
              <%= tutorails.position%>
            <hr>
          </h4>
     <% end %> 
  </div>   
</div>
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; RailsWay 2016</p>
    </div>
</footer>

