<%= render "/custom/form.html.erb"%>
    <!-- Main-Content-->
    <div class="Tutorials" style="padding: 113px;">
      <h3 class="post-title">
          <%= @tutorial.title %>
      </h3>
      <h4 class="post-subtitle">
          <%= @tutorial.description%><br>
          <%= @tutorial.position %>
      </h4>
    </div> 

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; RailsWay 2016</p>
    </div>
</footer>