/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "growlyflash";
.main-content {
  padding: 25px 50px;
}
.main-content .well {
    margin-top: 80px;
}
.navbar-custom {
  background: rgba(255, 255, 255, 0.6);
}

.navbar-custom.top-nav-collapse {
	color: #fff;
    background: #2b3e50;
}
.navbar-custom.top-nav-collapse .navbar-header a,
.navbar-custom.top-nav-collapse .nav.navbar-nav li a {
	color: #fff;
}

.navbar-header a, .nav.navbar-nav li a {
	color: #000;
}
.btn-default {
	border: 1px solid #2b3e50;
	color: #2b3e50;
}
.btn-default:hover, 
.btn-default:focus {
	border: 1px solid #dfdfdf;
	color: #000;
	outline: none;
    background-color: #dfdfdf;
}
.total_votes {
    background: #000;
    padding: 5px 5px 5px 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    margin-right: 15px;
}
.card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(27, 25, 19, 0.24);
    border-radius: 0px;
}
.card .read-more {
    float: right;
    font-size: 15px;
}
.card .descriptive-text, .card .tags {
    margin-left: 45px;
}
.card .other-action {
    margin-bottom: 0;
    font-size: 15px;
}
.navbar-railsway {
    background: #2b3e50;
}
.navbar-railsway .navbar-header a,
.navbar-railsway .nav.navbar-nav li a {
    color: #fff;
}
.content-section {
    padding-top: 150px;
}
.growlyflash{
    color: #000;
}
.rw-alert{
    background: #2b3e50;
    color: #fff;
    width: 300px !important;
}
.tags a {
    background: black;
    padding: 5px 10px;
    color: #fff;
    margin-right: 5px;
}
.tags a:hover {
    background: #2b3e50;
    padding: 8px 12px;
    color: #fff;
    font-weight: bold;
}
