<section>
  <div class="row">
    <div class="solutions" style="padding-top: 125px; padding-left: 112px;">
     <h6 class="post-title">
      <p><%= @solution.question %></p>
     </h6>
     <h8 class="post-subtitle">
      <p><%= @solution.answer%></p></h8>
      <p>Votes: <%= @solution.votes.count %></p> 
      Tags: <%= raw @solution.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
    </div>  
  </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; RailsWay 2016</p>
    </div>
</footer>

<style type="text/css">
.intro {
    background: url(/assets/show-posts.jpg);
  }
.solutions{
  width: 1150px;
  word-wrap: break-word;
}  
</style>  